<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <router-outlet></router-outlet>
      <!--alternative using *ngIf:
      <app-recipe-book *ngIf="loadedFeature ==='recipe'"></app-recipe-book>
      <app-shopping-list *ngIf="loadedFeature !=='recipe'"></app-shopping-list>
      *setting this to !=='recipe' ensures we can catch all cases when the selected feature is not 'recipe'-->
    </div>
  </div>
</div>